*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: rgba(0, 0, 0, .4);
}
.btn{
    padding: 1rem 2rem;
    background: linear-gradient(90deg, blue, red 45%, green ) ;
    color: white;
    border-radius: 8px;
    margin-block: 15rem;
    transition: transform .25s;
}
.btn:hover{
    transform: scale(1.3);
}
.btn:focus{
    box-shadow: 5px 5px 5px rgba(230, 7, 7, 0.8);
}
.btn-div{
    padding-block: 3rem;
    height: max-content;
}
.container{
    width:90%;
    background-color: transparent;
    
}

.card{
    border-radius: 4px;
    height: 130px;
    background: linear-gradient(45deg, red, blue);
    /* background-color: red; */
    box-shadow: 4px 4px 4px  rgba(0, 0, 0, .4);
    transition: all 2s;
}
.card:hover{
    cursor: pointer;
    transform: scaleX(.89);
}


.grid{
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    gap: 2px;
}
.grid-div{
    width: 100%;
    background-color: transparent;
}
.m-auto{
    margin: auto;
}
.text-centre{
    text-align: center;
}