*{
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    --primary:rgb(21, 132, 196);
}


.btn{
    padding: 1rem 2rem;
    background: linear-gradient(90deg, blue, red 45%, green ) ;
    color: white;
    border-radius: 8px;
    margin-block: 15rem;
}
.btn-div{
    margin-block: 3rem;
}
.container{
    width:90%;
    padding: 1rem;
    
}

.card{
    border-radius: 4px;
    height: 130px;
    background: linear-gradient(45deg, red, blue);
    /* background-color: red; */
    box-shadow: 4px 4px 4px  rgba(0, 0, 0, .4);
    
}


.grid{
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    gap: 1rem;
}
.grid-div{
    width: 100%;
}
.m-auto{
    margin: auto;
}
.text-centre{
    text-align: center;
}